/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */



body {
 margin: 0%;
}

.page-wrapper {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #353232;
  height: 100px;
  margin: 8px;
}

.page-main {
  background-color: #151414;
  flex-grow: 1;
  justify-content: center;
  margin: 8px;
}

.page-footer {
  background-color: #353232;
  height: 100px;
}


.container-footer {
  background-color: #353232;
  height: 100%;
  border: 1px solid #353232;
  max-width: 600px;
  margin: 0 auto;
}


header,
footer {
  color: #F9F1F1;
  padding: 24px;
  margin: 8px;
}


body, main {
  background-color: #151414;
  
}

body {
  display: grid;
  grid-gap: 1rem;
}

.cta {
    background-color: #F1883C;
    color:#151414;
    border-radius: 16px;
    padding: 8px;
    margin: 12px;
    text-decoration: none;
}

.cta__welcome {
  background-color: #F1883C;
  color:#151414;
  border-radius: 16px;
  padding: 12px;
  margin: 16px;
  text-decoration: none;
}

header a {
    color: #ffffff;
}

footer {
    text-align: center;
}


/* Hoover */
.cta:hover, 
.cta__welcome:hover {
  color:#F9F1F1;
  transition: 0,5s;
}

.more-info:hover,
.myvideos:hover {
  text-decoration: underline;
}

header a:hover {
  color: #F1883C;
  transition-delay: 0,7s;
}

/* Fonts */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #F9F1F1;
}

nav a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #F9F1F1;
}
h1, h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.cta {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cta__welcome {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Hamburger menu */
nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header {
  position: relative;
  background: #353232;
  color: #F9F1F1;
  padding: 10px;
  
}

nav {
  position: absolute;
  background: #353232;
  left: 0px;
  z-index: 1;
}

nav a {
  display: block;
  color: #F9F1F1;
  padding: 10px 20px;
  text-decoration: none;
}

@media (min-width: 600px) {
  nav {
    display: block;
    position: static;
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;

  }
}

/* Logo */
.container-header,
.section-logo {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: start;
  padding: 10px;
}

.section-logo,
.container-header {
  flex-direction:row-reverse;
}
.img-box_logo {
  max-width: 140px;
  }

/* Home page */
.welcome {
  background-image: url("../assets/images/girlwithgun.jpeg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center left;
  min-height: 600px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-content: center;


  color:#F9F1F1;


}

.welcome__content {
  position: absolute;
  text-align: center;
  left: 40px;
  font-size: 2rem;
}


.cover-films, 
.h2_category, 
.category_list {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.more-info {
  color:#F9F1F1;
  text-decoration: none;
}

.text-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 600px ) {
.cover-films, .text-box {
  flex-wrap: wrap;
}
 
}

/* Categories */

.floated {
  float: left;
  padding: 2px;
  margin: 8px;
}

Section::after {
  content: '';
  clear: both;
  display: table;
}
  

/* About us */


.section-about {
  max-width: 600px;
  margin: 40px;
}

.about-main,
.support-main,
.checkout-main {
  display: flex;
  justify-content: center;
}


/* Contact */
.section-contact, 
.myvideo-covers {
display: flex;
justify-content: center;
}

.form__input {
  display: block;
}

/* Home page */

.product-details {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.product-text-box *>,
.product-content {
  display: flex;
  justify-content:space-between;

}

/* Product details */
.img-box {
  min-width: 200px;
}
 img {
  height: 100%;
  width: 100%;
 }

/* Checkout */
.img-box-cart,
.img-box-myvideos {
  max-width: 200px;
}

/* Support us */

.support_text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F9F1F1;
}

.pay-donate {
  max-width: 200px;
}



/* Support-Checkout succes */
.page-main_support,
.page-main_checkout {
  background-color: #F9F1F1;
  flex-grow: 1;
}

.container-supportsucces, 
.container-checkoutsucces {
  background-color: #F9F1F1;
  color: green;
  text-align: center;
}



.section-support {
  max-width: 600px;
  margin: 40px;
}

.success-text,
.checkoutsuccess-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: green;
}

.myvideos {
  color: #F1883C;
}




